name: CI

on:
  push:
    branches: main
  pull_request:

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Pack packages
        run: npm run pack

      - uses: actions/upload-artifact@v5
        with:
          name: artifact
          path: |
            ./
            !.git/
            !**/node_modules/

  lint:
    name: Lint

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Check formatting
        run: npx prettier --check .

  test:
    name: Test

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Build packages
        run: npm run pack

      - name: Test packages
        run: npm run test

      - name: Test examples/development
        run: |
          cd examples/development
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm run test

      - name: Test examples/production
        run: |
          cd examples/production
          npm ci
          cp ../../packages/cli/runtime-env-cli-test.tgz .
          docker build . -t runtime-env-example
          npm run test

      - name: Test examples/test
        run: |
          cd examples/test
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm run test

      - name: Test examples/workbox
        run: |
          cd examples/workbox
          npm ci
          cp ../../packages/cli/runtime-env-cli-test.tgz .
          docker build . -t runtime-env-example
          npm run test

      - name: Test examples/comprehensive-vite (dev)
        run: |
          cd examples/comprehensive-vite
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          echo "FOO=dev-test" > .env
          npx start-server-and-test 'npm run dev' 5173 'cypress run --spec cypress/e2e/dev.cy.js'

      - name: Test examples/comprehensive-vite (test)
        run: |
          cd examples/comprehensive-vite
          git clean -xdf
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          echo "FOO=test-value" > .env
          npm run test

      - name: Test examples/comprehensive-vite (preview)
        run: |
          cd examples/comprehensive-vite
          git clean -xdf
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm run build
          echo "FOO=preview-test" > .env
          npx start-server-and-test 'npm run preview' 4173 'cypress run --spec cypress/e2e/preview.cy.js'

      - name: Test examples/comprehensive-vite (docker)
        run: |
          cd examples/comprehensive-vite
          git clean -xdf
          npm ci
          cp ../../packages/cli/runtime-env-cli-test.tgz .
          npx cypress run --spec cypress/e2e/docker.cy.js

      - name: Test examples/comprehensive-webpack (dev)
        run: |
          cd examples/comprehensive-webpack
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          echo "FOO=dev-test" > .env
          npx start-server-and-test 'npm run dev' 8080 'cypress run --spec cypress/e2e/dev.cy.js'

      - name: Test examples/comprehensive-webpack (test)
        run: |
          cd examples/comprehensive-webpack
          git clean -xdf
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          echo "FOO=test-value" > .env
          npm run test

      - name: Test examples/comprehensive-webpack (docker)
        run: |
          cd examples/comprehensive-webpack
          git clean -xdf
          npm ci
          cp ../../packages/cli/runtime-env-cli-test.tgz .
          npx cypress run --spec cypress/e2e/docker.cy.js

  release:
    if: github.ref_name == 'main'

    name: Release

    needs:
      - build
      - lint
      - test

    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - cli

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: artifact

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Publish
        uses: JS-DevTools/npm-publish@v4.1.1
        id: publish
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: packages/${{ matrix.package }}/package.json
          tag: latest
          access: public
          dry-run: ${{ github.ref_name != 'main' }}
          strategy: upgrade

      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ github.ref_name == 'main' && steps.publish.outputs.type }}
        with:
          tag_name: ${{ matrix.package }}${{ steps.publish.outputs.version }}
          body: "Changelog: https://github.com/runtime-env/runtime-env/blob/${{ matrix.package }}${{ steps.publish.outputs.version }}/packages/${{ matrix.package }}/CHANGELOG.md"
