name: CI

on:
  push:
    branches: main
  pull_request:

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Pack packages
        run: npm run pack

      - uses: actions/upload-artifact@v6
        with:
          name: artifact
          path: |
            ./
            !.git/
            !**/node_modules/

  lint:
    name: Lint

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Check formatting
        run: npx prettier --check .

  test:
    name: Test

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Test packages
        run: npm run test

  test-example-development:
    name: Test Example (Development)

    needs: build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: artifact

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Test examples/development
        run: |
          cd examples/development
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm run test

  test-example-production:
    name: Test Example (Production)

    needs: build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: artifact

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Test examples/production
        run: |
          cd examples/production
          npm ci
          cp ../../packages/cli/runtime-env-cli-test.tgz .
          docker build . -t runtime-env-example
          npm run test

  test-example-test:
    name: Test Example (Test)

    needs: build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: artifact

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Test examples/test
        run: |
          cd examples/test
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm run test

  test-example-workbox:
    name: Test Example (Workbox)

    needs: build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: artifact

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Test examples/workbox
        run: |
          cd examples/workbox
          npm ci
          cp ../../packages/cli/runtime-env-cli-test.tgz .
          docker build . -t runtime-env-example
          npm run test

  test-example-vite:
    name: Test Example (Vite)

    needs: build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: artifact

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Test examples/comprehensive-vite (dev)
        run: |
          cd examples/comprehensive-vite
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm i ../../packages/vite-plugin/runtime-env-vite-plugin-test.tgz
          echo "VITE_FOO=dev-initial" > .env
          npx start-server-and-test dev http://localhost:5173 'npx cypress run --config baseUrl=http://localhost:5173 --spec cypress/e2e/dev.cy.js'

      - name: Test examples/comprehensive-vite (test)
        run: |
          cd examples/comprehensive-vite
          git clean -xdf
          git restore .
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm i ../../packages/vite-plugin/runtime-env-vite-plugin-test.tgz
          echo "VITE_FOO=test-value" > .env
          npm run test

      - name: Test examples/comprehensive-vite (preview)
        run: |
          cd examples/comprehensive-vite
          git clean -xdf
          git restore .
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm i ../../packages/vite-plugin/runtime-env-vite-plugin-test.tgz
          npm run build
          echo "VITE_FOO=preview-initial" > .env
          npx start-server-and-test preview http://localhost:4173 'npx cypress run --config baseUrl=http://localhost:4173 --env EXPECTED_FOO=preview-initial --spec cypress/e2e/preview.cy.js'
          echo "VITE_FOO=preview-updated" > .env
          npx start-server-and-test preview http://localhost:4173 'npx cypress run --config baseUrl=http://localhost:4173 --env EXPECTED_FOO=preview-updated --spec cypress/e2e/preview.cy.js'

      - name: Test examples/comprehensive-vite (docker)
        run: |
          cd examples/comprehensive-vite
          git clean -xdf
          git restore .
          npm ci
          cp ../../packages/cli/runtime-env-cli-test.tgz .
          cp ../../packages/vite-plugin/runtime-env-vite-plugin-test.tgz .
          docker build -t comprehensive-vite .
          npx start-server-and-test 'docker run -p 3000:80 -e VITE_FOO=docker-initial comprehensive-vite' 3000 'npx cypress run --config baseUrl=http://localhost:3000 --env EXPECTED_FOO=docker-initial --spec cypress/e2e/docker.cy.js' && docker ps -f ancestor=comprehensive-vite -q | xargs docker rm -f
          npx start-server-and-test 'docker run -p 3000:80 -e VITE_FOO=docker-updated comprehensive-vite' 3000 'npx cypress run --config baseUrl=http://localhost:3000 --env EXPECTED_FOO=docker-updated --spec cypress/e2e/docker.cy.js' && docker ps -f ancestor=comprehensive-vite -q | xargs docker rm -f

  test-example-webpack:
    name: Test Example (Webpack)

    needs: build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: artifact

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Test examples/comprehensive-webpack (dev)
        run: |
          cd examples/comprehensive-webpack
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          echo "FOO=dev-initial" > .env
          npx start-server-and-test dev http://localhost:8080 'npx cypress run --config baseUrl=http://localhost:8080 --spec cypress/e2e/dev.cy.js'

      - name: Test examples/comprehensive-webpack (test)
        run: |
          cd examples/comprehensive-webpack
          git clean -xdf
          git restore .
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          echo "FOO=test-value" > .env
          npm run test

      - name: Test examples/comprehensive-webpack (preview)
        run: |
          cd examples/comprehensive-webpack
          git clean -xdf
          git restore .
          npm ci
          npm i ../../packages/cli/runtime-env-cli-test.tgz
          npm run build
          echo "FOO=preview-initial" > .env
          npx start-server-and-test preview http://localhost:8080 'npx cypress run --config baseUrl=http://localhost:8080 --env EXPECTED_FOO=preview-initial --spec cypress/e2e/preview.cy.js'
          echo "FOO=preview-updated" > .env
          npx start-server-and-test preview http://localhost:8080 'npx cypress run --config baseUrl=http://localhost:8080 --env EXPECTED_FOO=preview-updated --spec cypress/e2e/preview.cy.js'

      - name: Test examples/comprehensive-webpack (docker)
        run: |
          cd examples/comprehensive-webpack
          git clean -xdf
          git restore .
          npm ci
          cp ../../packages/cli/runtime-env-cli-test.tgz .
          docker build -t comprehensive-webpack .
          npx start-server-and-test 'docker run -p 3000:80 -e FOO=docker-initial comprehensive-webpack' 3000 'npx cypress run --config baseUrl=http://localhost:3000 --env EXPECTED_FOO=docker-initial --spec cypress/e2e/docker.cy.js' && docker ps -f ancestor=comprehensive-webpack -q | xargs docker rm -f
          npx start-server-and-test 'docker run -p 3000:80 -e FOO=docker-updated comprehensive-webpack' 3000 'npx cypress run --config baseUrl=http://localhost:3000 --env EXPECTED_FOO=docker-updated --spec cypress/e2e/docker.cy.js' && docker ps -f ancestor=comprehensive-webpack -q | xargs docker rm -f

  release:
    if: github.ref_name == 'main'

    name: Release

    needs:
      - build
      - lint
      - test
      - test-example-development
      - test-example-production
      - test-example-test
      - test-example-workbox
      - test-example-vite
      - test-example-webpack

    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - cli
          - vite-plugin

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: artifact

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Publish
        uses: JS-DevTools/npm-publish@v4.1.5
        id: publish
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: packages/${{ matrix.package }}/package.json
          tag: latest
          access: public
          dry-run: ${{ github.ref_name != 'main' }}
          strategy: upgrade

      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ github.ref_name == 'main' && steps.publish.outputs.type }}
        with:
          tag_name: ${{ matrix.package }}${{ steps.publish.outputs.version }}
          body: "Changelog: https://github.com/runtime-env/runtime-env/blob/${{ matrix.package }}${{ steps.publish.outputs.version }}/packages/${{ matrix.package }}/CHANGELOG.md"
